# Task 1

A table of some synthetic data is available to you, on the basis of which it is necessary to perform clustering on K = 3 clusters by the K-means method.

Вам доступна таблица некоторых синтетических данных, на основании которых необходимо выполнить кластеризацию на K = 3 кластера методом К-средних.

In [ ]:
import os

def load_data(data_dir, link):
  if not (os.path.exists(data_dir)):
    print('========= Downloading data ... =========')
    os.system('wget ' + link + ' -O ' + data_dir + '.zip')
    os.system('unzip ' + data_dir + '.zip' + ' -d ' + data_dir)
    os.system('rm -rf ' + data_dir + '/__MACOSX')
    os.system('rm ' + data_dir + '.zip')
    print('=========       Success        =========')
  else:
    print('========= Data is already dowloaded =========')

In [ ]:
data_dir1 = '/content/data'
link1 = 'https://github.com/Mark1708/ml-and-ds-online-course/raw/main/data/clustering/kmeans.csv.zip'
load_data(data_dir1, link1)

In [ ]:
#чтение данных, так как названия конфет уникальны, используем их в качестве индекса
import numpy as np
import pandas as pd
DATA = pd.read_csv(data_dir1 + "kmeans.csv", delimiter=',', index_col='Object')

In [ ]:
#удаление столбца Cluster из набора данных
coords = DATA.drop('Cluster', axis=1)

In [ ]:
#подключение KMeans из библиотеки sklearn
from sklearn.cluster import KMeans

When performing a task using the sklearn library, use initial initialization with the following centroid coordinates and parameters: 

При выполнении задания с помощью библиотеки sklearn используйте начальную инициализацию со следующими координатами центроидов и параметрами:

KMeans(n_clusters=3, init=np.array([[12.6, 8.8], [13.0, 12.6], [13.0, 11.8]]), max_iter=100, n_init=1)

In [ ]:
#координаты центроидов
centroid = np.array([[12.6, 8.8], [13.0, 12.6], [13.0, 11.8]])

In [ ]:
#инициализация модели
kmeans = KMeans(n_clusters=3, init=centroid, max_iter=100, n_init=1)

In [ ]:
#обучение модели на данных из coords
model = kmeans.fit(coords)

Specify which cluster this or that object will be assigned to as a result of clustering (the task is counted only if all clusters are specified correctly).

Укажите, к какому кластеру будет отнесен тот или иной объект в результате кластеризации (задание засчитывается только в том случае, если все кластеры указаны верно).

In [ ]:
#вывод назначенных кластеров
labels = model.labels_.tolist()
coords['Cluster'] = labels
coords

         X   Y  Cluster
Object
1       15   1        0
2        9   9        0
3       13  14        1
4       15  18        1
5        3  18        1
6       12   5        0
7       15   2        0
8        6   7        0
9       13  12        2
10      14  20        1
11      18   9        2
12      16  11        2
13       9  13        1
14      18   8        2
15      17  19        1

In [ ]:
#обучение модели и расчет расстояний до центроидов
coords = coords.drop('Cluster', axis=1)
alldistances = kmeans.fit_transform(coords)

Based on the results of clustering, determine the average distance between objects and the centroid assigned to cluster 0.

По результатам выполнения кластеризации определить среднее расстояний между объектами и центроидом, отнесенных к кластеру 0.

In [ ]:
#вывод расстояний от данных до всех центроидов
my_claster = []

for i in range(len(alldistances)):
  if labels[i] == 0:
    my_claster.append(alldistances[i][0].tolist())

round(np.mean(my_claster), 3)

4.219